#other system platform ignore

proj.linux/

proj.blackberry/

proj.marmalade/

proj.winrt/
proj.wp8/


proj.win32/Debug.win32/

#win32 system platform when vs open the *.opensdf cant be commit
*.opensdf